*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-size: 16px;
}

h3{
    font-size: 45px;
    font-family: 'Open Sans', sans-serif;
}

h4{
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
}

h5{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
 
}

h6{
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
}

/* HEADER */

header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 18px;
}

#logo{
    height: 25px;
}
.row{
    display: flex;
    justify-content: center;
}

.col-50{
    width: 100%;
    background-color: white;
    padding: 15px;
}

.row-left{
    display: flex;
    justify-content: left;
}


.row-right{
    display: flex;
    justify-content: right;
}


.col-left{
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;
}

.col-right{
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;
}

.back{
    background-color:#0061FF;
    color: white;
    padding: 5px 15px;
}


/* END HEADER */


/* JUMBOTRON */


.jumbotron{
    background-color: #B4D0E7;
    height: 700px;
    width: 100%;
    margin-top: 100px;
    padding-top: 80px;
}

h1{
    font-size: 80px;
    font-family: 'Open Sans', sans-serif;
}

.containerjumbo{
    max-width: 1220px;
    margin: 0 auto;
}

.row-jumbo{
    display: flex;
    justify-content: flex-start;
}

.col-jumbo{
    width: 32%;
    margin-top: 75px;
}

#jumbo-img{
    height: 500px;
}

ul{
    list-style: none;
    line-height: 20px;
}

#prova {
    background-color:#0061FF;
    color: white;
    padding: 16px;
    margin-top: 35px;
    width: 246px;
    text-align: center;
}


#annulla{
    margin-top: 35px;

}
/* END JUMBOTRON */

/* BUSINESS SECTION */


.section-business{
    height: 800px;
    max-width: 1100px;
    margin: 0 auto;
}

.section-business-plan{
    height: 800px;
    max-width: 1100px;
    margin: 0 auto;
}

.row-bus{
    display: flex;
    justify-content: left;
}
.col-business{
    max-width: 973px;
    margin-top: 256px;
    margin-left: 30px;
}

.ul-bus{
    margin-top: 60px;
    
}

.li-bus{
    display: inline;
    margin-left: 7px;
}

#annuale{
    margin-left: 30px;
}

/* second container */

.container-second{
    font-size: 16px;
}

.riga{
    display: flex;
    justify-content: center;
}

.colonna{
    border: 1px solid lightgrey;
    width: calc(100% / 3 - 20px);
    margin: 25px;
}

.greytext{
    color: gray;
}

/* COL TITLE */
.col-title{
    border-bottom: 1px solid lightgray;
    height: 50px;
    width: 100%;
    text-align: center;
    padding: 10px;
}


/* COL SUBTITLE */

.col-sub{
    width: 100%;
    padding: 40px
}

.plan{
    line-height: 40px;
}

.fa-ul {
    list-style-type: none;
    margin-left: 9px;
    padding-left: 0;
}

.fa-ul, .separator, .salient{
    margin-top: 60px;
}

.prova-ul, .acquista-ul, .hr-small{
    margin-top: 30px;
}

.prova-ul{
    background-color: #0061FF;
    padding: 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}

.no-line{
    text-decoration: none;
    color: white;
}


.hr-small{
    width: 60px;
    border: 1px solid lightgray;
}

.underline{
    color: blue;
}

li:not(:last-child) {
    margin-bottom: 30px;
}

/* END SECOND CONTAINER */

/* THIRD CONTAINER */

.container-third{
    max-width: 1052px;
    margin: 0 auto;
    margin-top: 30px;
}

.col-100{
    border: 1px solid lightgrey;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.sub{
    border-top: none;
}

.sub-row{
    display: flex;
    justify-content: flex-start;
}

.sub-col-left{
    width: 60%;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 25px;
}

.title-team{
    margin: 40px 0px 40px 0px;
    line-height: 45px;
}

.sub-col-right{
    width: 40%;
    text-align: right;
}

.ufficio-vendite{
    background-color: #0061FF;
    padding: 16px;
    margin-top: 40px;
    width: 222px;
    text-align: center;
    margin-left: 143px;
    color: white;
}

.uff-vendite{
    color: white;
    text-decoration: none;
}


/* FOURTH CONTAINER */

.container-fourth{
    margin-top: 140px;
}

.col-partner-left{
    width: 70%;

}

.col-partner-right{
    width: 30%;
    margin: 75px 45px 0px 50px;
    
}

#partner-img{
    width: 628px;
}

.distance-part{
    margin-bottom: 40px;
}

.trasparente{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 15px;
}

/* FIFTH CONTAINER */

.container-fifth{
    margin-top: 140px;
}


.riga-strumento{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-strumento{
    width: calc(100% / 3 - 20px);
    margin: 10px;
    text-align: center;
    padding: 15px;
}

.content-strumento{
    margin-top: 80px;
}


.img-strumento{
    height: 200px;
}

.text-strumento{
    text-align: left;
}

.scopri{
    width: 800px;
    margin: 150px 0px 0px 27px;
}

.scopri-link{
    margin-top: 60px;
    margin-left: 30px;
}
#dec-link{
    color: blue;
}

/* END FIFTH CONTAINER */

/* SIXTH CONTAINER */

.container-fifth{
    margin-top: 140px;
}


