*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    font-size: 18px;
}

/* HEADER */

header{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

#logo{
    height: 25px;
}
.row{
    display: flex;
    justify-content: center;
}

.col-50{
    width: 100%;
    background-color: white;
    padding: 15px;
}

.row-left{
    display: flex;
    justify-content: left;
}


.row-right{
    display: flex;
    justify-content: right;
}


.col-left{
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;
}

.col-right{
    margin: 10px 10px;
    padding: 5px 5px;
    text-align: center;
}

.back{
    background-color: blue;
    color: white;
    padding: 5px 15px;
}


/* END HEADER */


/* JUMBOTRON */


.jumbotron{
    background-color: #B4D0E7;
    height: 700px;
    width: 100%;
    margin-top: 100px;
    padding-top: 80px;
}

h1{
    font-size: 75px;
    font-family: 'Open Sans', sans-serif;
}

.containerjumbo{
    max-width: 1100px;
    margin: 0 auto;
}

.row-jumbo{
    display: flex;
    justify-content: flex-start;
}

.col-jumbo{
    width: 32%;
    margin-top: 75px;
}

#jumbo-img{
    height: 500px;
}

ul{
    list-style: none;
    line-height: 20px;
}

#prova {
    background-color: #0061FF;
    color: white;
    padding: 11px;
    margin-top: 35px;
    width: 246px;
}

#annulla{
    margin-top: 35px;

}
/* END JUMBOTRON */
